<section>

<h1>
    Login
</h1>

<form action="" method="POST">

<label>Username</label>
<input type="text" name="username">

<label>Password</label>
<input type="password" name="password">

<button type="submit" class="btn btn-primary">Login</button>

</form>

<a href="/auth/signup" class="btn btn-primary">Sign up!</a>

</section>