<section class="bg-gradient">
    <div class="pagewrap flip-vertical-fwd">
        <form class="form" id="form" action="/auth/login" method="POST">
            <h3 class="form__title">Login</h3>
            {{#if errorMessage}}
                <p class="error-message">{{ errorMessage }}</p>
            {{/if}}
            <div class="container">
                <input class="container__input" type="text" id="username" name="username" required>
                <label id="userLabel" for="username" class="container__label">Username</label>
            </div>
            <div class="container">
                <input class="container__input" type="password" id="pass" name="password" required>
                <label id="passLabel" for="pass" class="container__label">Password</label>
            </div>
            <button class="form__submit" id="submit" type="submit">Login</button>
            <br>
            <p>Not registered yet? <a href="/auth/signup">Signup!</a></p>
        </form>
    </div>
</section>