<section>

<h1>Sign up</h1>

<form action="" method="POST">

<label>Name</label>
<input type="text" name="username">

<label>Email</label>
<input type="text" name="email">

<label>Password</label>
<input type="password" name="password">

<label>Repeat Password</label>
<input type="password" name="repeatPassword">

<button type="submit">Register</button>

</form>

</section>