<section>

<h1>Sign up</h1>

<form action="" method="POST">

<label>Name</label>
<input type="text" name="username" required>

<label>Email</label>
<input type="text" name="email" required>

<label>Password</label>
<input type="password" name="password" required>

<label>Repeat Password</label>
<input type="password" name="repeatPassword" required>

<button type="submit" class="btn btn-primary">Register</button>

</form>

</section>