{{!-- Podemos usar partials para listar las cartas y los proyectos que tenga en el perfil --}}
{{!-- Este es el ejemplo que hicimos con la nba --}}

{{!-- <div class="card" style="width: 33.333%;">
  <img class="card-img-top" src=this.photo alt="">
  <div class="card-body">
    <h5 class="card-title">this.namethis.lastName</h5>
    <p class="card-text">this.team</p>
  </div>
</div> --}}

{{!-- (>cardList this) --}}