<<<<<<< HEAD
<section>

    <h2>Creating a new card</h2>

    <div>
 <form action="/card/create" method="post">
            <textarea name="message" type="text" placeholder="My card message" required>
            <input name="type" type="text" placeholder="Metaphor, joke, quote" required>
            <button type="submit" class="btn btn-success">Save</button>
            <a href="../user.hbs" class="btn btn-warning">Return</a>
        </form>
    </div>

</section>
=======

<section>
    <h1>Add a new card!</h1>

<!--Tipo de carta-->
    <div>
     <form action="" method="POST">
        <input type="text" class="" name="cardname">
        <input type="textarea" class="" name="description" placeholder="Write your metaphor">

        <button type="submit">Save</button>
     </form>
<a href="/private/user" class="">Profile</a> <!--Redirige al perfil-->

</div>
</section>
>>>>>>> develop
