<section>
    <div class="cardwrap bg-green">
        <div>
            <h1>New Card</h1>
        </div>

        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
        <div class="front">
            <!-- front content -->
            <article class="card-form">
                <img src="/images/logo-devign-green-300px.png" alt="logo-green">
            </article>
        </div>
        <div class="back">
            <!-- back content -->
            <article class="card-form bg-lg-purple">
                <img src="/images/logo-devign-purple-300px.png" alt="logo-purple">
                <h3>Devign</h3>
                <form action="/private/cards/create/{{userId}}" method="post">
                    <textarea maxlength="80" name="description" type="textarea"
                        placeholder="Write here your inspirational sentence" required></textarea>
                    <div class="button">
                        <input type="submit" class="btn btn-green" value="Save">
                        <a href="/private/user" class="btn btn-purple">Return</a>
                    </div>
                </form>
            </article>
        </div>
    </div>
</div>
</section>