
<section>
    <h1>Add a new card!</h1>

<!--Tipo de carta-->
    <div>
     <form action="" method="POST">
        <input type="text" class="" name="cardname">
        <input type="textarea" class="" placeholder="Write your metaphor">

        <button type="submit">Save</button>
     </form>
<a href="/private/user" class="">Profile</a> <!--Redirige al perfil-->

</div>
</section>
