<section class="background_first_section">
    <article class="first_article">
        <h2 class="first_h2_article">
            Do you need help with your ideas?<br> 
        </h2>
        <h2 class="second_h2_article">
            We can make the process <br>a little bit 
            <div class="bobble">
            <strong>
                <div class="e_">e</div>
                <div class="a">a</div>
                <div class="s">s</div>
                <div class="i">i</div>
                <div class="e">e</div>
                <div class="r">r</div>
            </strong> 
            </div class="bobble">
                for you!
        </h2>
    </article>
</section>


<section class="second_section">
   
     <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
                <div class="front">
                    <!-- front content -->
                    <article class="card-form">
                        <img src="/images/logo-devign-purple-300px.png" alt="logo-green">
                    </article>
                </div>

                <div class="back">
                    <!-- back content -->
                    <article class="card-form">
                        <img src="/images/logo-devign-green-300px.png" alt="logo-green">
                        <h3>Devign</h3>
                        <p>{{data.description}}</p>
                         <div>
                            <a href="/random" class="btn btn-purple">Try!</a>
                        </div>
                    </article>
                </div>
            </div>
        </div>

    <article class="second_section_article">

        <div class="second_section_h4">
            <p>Devign is here as a tool to help with development ideas.</p>
            <p>We introduce the first collection designed for web development.</p>
            <p>Our cards will allow you to break</p>
            <p>your linear thoughts and be more creative.</p>
        </div>

    </article>

</section>

<section class="third_section">
<h1>
    Team!
</h1>

<div class="posicion_foto_perfil">

    <div class="foto_perfil_div">
        <img src="/images/Amalia.jpg" class="foto_perfil_amalia" alt="Foto Amalia">
         <h3><strong>The metodical and backender</strong></h3>
         <img src="/images/glasses-solid.svg" class="glasses_amalia" alt="icono gafas">
        <h5>If she continue making routes, <br> by the time she will make<br>the new Rome's aqueduct.</h5>
    </div>

    <div class="foto_perfil_div">
        <img src="/images/Julian.jpg" class="foto_perfil_julian" alt="Foto Julián">
        <h3><strong>The neurotic and frondender</strong></h3>
        <img src="/images/gamepad-solid.svg" class="gamepad_julian" alt="icono gamepad">
        <h5>He knows how to lose patience to others and <br>make laugh in a second.</h5>
    </div>

    <div class="foto_perfil_div">
        <img src="/images/Paula.jpg" class="foto_perfil_paula" alt="Foto Paula">
        <h3><strong>The artistic and UX designer</strong></h3>
        <img src="/images/palette-solid.svg" class="palette_paula" alt="icono paleta">
        <h5>Structure the website the same way <br> she do it with your mind.</h5>
    </div>

</div>

</section>