<section>

    <div class="position">
        <img src="/images/logo-devign-black-300px.png" class="index_logo" alt="Logo Devign">
    </div>

    <article class="first_article">
        <h2 class="first_h2_article">
            Do you need help with your ideas?<br> 
        </h2>
        <h2 class="second_h2_article">
            We can make the process <br>a little bit 
            <strong>
                <span class="e_">e</span>
                <span class="a">a</span>
                <span class="s">s</span>
                <span class="i">i</span>
                <span class="e">e</span>
                <span class="r">r</span>
            </strong> 
                for you!
        </h2>
    </article>
</section>


<section class="second_section">
   
    <div>
        <img src="/images/dorso_trigger.png" class="dorso_carta" alt="Carta ejemplo">
    </div>

    <article class="second_section_article">

        <h4 class="second_section_h4">
            Devign is here as a tool to help with development ideas.<br>
            We introduce the first collection designed for web development.<br>
            Our cards will allow you to break<br> 
            your linear thoughts and be more creative.
        </h4>
        
        <div class="try_bottom_div">
            <a href="/random" class="try_botton">Try!</a>
        </div>

    </article>

</section>

<section class="third_section">
<h1>
    Team!
</h1>

<div class="posicion_foto_perfil">

    <div class="foto_perfil_div">
        <img src="/images/Amalia.jpg" class="foto_perfil_amalia" alt="Foto Amalia">
         <h3><strong>La metódica y backender</strong></h3>
        <h5>Como siga haciendo rutas <br>a este paso construye<br>el nuevo acueducto de roma.</h5>
    </div>

    <div class="foto_perfil_div">
        <img src="/images/Julian.jpg" class="foto_perfil_julian" alt="Foto Julián">
        <h3><strong>El neurético y frondender</strong></h3>
        <h5>Sabe como hacer perder la paciencia y <br>hacer reir en cuestión de segundos.</h5>
    </div>

    <div class="foto_perfil_div">
        <img src="/images/Paula.jpg" class="foto_perfil_paula" alt="Foto Paula">
        <h3><strong>La artística y UX designer</strong></h3>
        <h5>Estructura la página web igual <br> de bien que lo hace con tu cabeza.</h5>
    </div>

</div>
</section>