<section>

<img src="" class="" alt="Logo Devign">
</div>

<h2>
Do you need help with your ideas? 

We can make the process a little bit easier for you!
</h2>

<h4>
Devign is here as a tool to help with development ideas.
We introduce the first collection designed for web development.
</h4>

<div>
     <a href="/random" class="btn btn-warning">Try!</a>
      <a href="/auth/login" class="btn btn-primary">Login</a>
</div>

</section>



<section>

<h1>
    Devign
</h1>

<img src="" class="" alt="Carta ejemplo">

<h3>Our cards will allow you to break your linear thoughts and be more creative.</h3>

 <a href="/random" class="btn btn-warning">Random Card!</a>

</section>


<section>

<h1>
    Team!
</h1>

<div class="<!--Flexbox-->">

    <img src="" class="" alt="Foto Amalia">
        <!--Descripción Amalia-->

    <img src="" class="" alt="Foto Julián">
        <!--Descripción Julián-->

    <img src="" class="" alt="Foto Paula">
        <!--Descripción Paula-->

</div>
</section>