<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{!-- CSS Reset --}}
        <link rel='stylesheet' href='/stylesheets/reset.css' />
         {{!-- Google font --}}
        <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap" rel="stylesheet">
        {{!-- Bootstrap --}}
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        {{!-- Hamburguer NavbarResponsive --}}
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    {{!-- CSS Customized --}}
        <link rel='stylesheet' href='/stylesheets/animation-card.css'/>
        <link rel='stylesheet' href='/stylesheets/new-project.css'/>
        <link rel='stylesheet' href='/stylesheets/profile.css'/>
        <link rel='stylesheet' href='/stylesheets/random-card.css' />
        <link rel='stylesheet' href='/stylesheets/index.css' />
        <link rel="stylesheet" href="/stylesheets/forms.css">
        <link rel='stylesheet' href='/stylesheets/style.css'/>

        {{!-- Favicon --}}
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <title>{{title}}</title>
    </head>
 {{!-- class="topnav" id="myTopnav" --}}
    <body>

<header class="fixed-top">
    <h1 class="logo"><a href="/"><img src="/images/navbaricon-white.png" id="icon_navbar_animation" class="icon_navbar" alt="logo devign"></a></h1></h1>
   <ul class="nav">
           {{#if isUserNotLogged}}
                <li class="navlink"><a href="/random">Random</a></li class="navlink">
                <li class="navlink"><a href="/auth/login">Login</a></li>
                <li class="navlink"><a href="/auth/signup">SignUp</a></li class="navlink">
            {{/if}}
               {{#if isUserLogged}}
               <li class="navlink"><a href="/random">Random</a></li class="navlink">
                <li class="navlink"><a href="/private/user">Profile</a></li class="navlink">
                <li class="navlink"><a href="/auth/logout">Logout</a></li class="navlink">
            {{/if}}
        </ul>
         <div class="burger">
            <i class="fas fa-bars">
                </i>
        </div>
 
</header>
        


        <!--
        <div id="menu-btn">
      <div class="menu-btn-line"></div>
      <div class="menu-btn-line"></div>
      <div class="menu-btn-line"></div>
      </div>
-->
<section class="layout_body">
        {{{body}}}
        
        
</section>

        <footer>

       
            <div>
                <h3 class="contact_info">
                     Contact info: <br>
                </h3>
                <h4 class="details_info">
                    Devign (Develop and Design)<br>
                    Fake Street, 20<br>
                    devign@gmail.com<br>
                </h4>
            </div>
        </footer>
        {{!-- Style JS --}}
        <script type="text/javascript" src="/scripts/hamburguer.js"></script>
        {{!--<script type="text/javascript" src="/scripts/forms.js"></script>--}}
    </body>

</html>