<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <title>{{title}}</title>
</head>
<body>
    <nav>
        <img src="" class="" alt="Logo Devign">
<!--collapse-->
Login
Sign Up
Random
Try
<!--collapse-->
    </nav>
    {{{body}}}
    <footer>
        Contact info:
        Devign (Develop & Design)
        Ironhack's Street, 20
        devign@gmail.com
    </footer>
</body>
</html>