<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href='/stylesheets/reset.css' />
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/index.css' />
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <title>{{title}}</title>
    </head>

    <body>

        <nav class="navbar">

            <a href="/"><img src="/images/navbaricon.png" class="icon_navbar" alt="Logo Devign"></a>
            <div class="position_navbar">
                Login
                Sign Up
                Random
                Try
            </div>
        </nav>


        <!--
        <div id="menu-btn">
      <div class="menu-btn-line"></div>
      <div class="menu-btn-line"></div>
      <div class="menu-btn-line"></div>
      </div>
-->

        {{{body}}}


        <footer>
            Contact info:
            Devign (Develop and Design)
            Fake Street, 20
            devign@gmail.com
        </footer>
        <script type="text/javascript" src="/scripts/hamburguer.js"></script>
    </body>

</html>