<section>

    <h1>RANDOM CARD</h1>

<div>

    <img src="" class="" alt="Imagen carta importada">
    <!-- Información de la carta importada -->

</div>

<div>
<a href="/random" class="btn btn-warning">Again</a>
<a href="/private/projects/random/create" class="btn btn-success">Save</a>
</div>

</section>
