<section class="bg-purple">
    <div class="cardwrap">
        <div>
            <h1>Random Card</h1>
        </div>
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
                <div class="front">
                    <!-- front content -->
                    <article class="card-form">
                        <img src="/images/logo-devign-purple-300px.png" alt="logo-green">
                    </article>
                </div>
                <div class="back">
                    <!-- back content -->
                    <article class="card-form">
                        <img src="/images/logo-devign-green-300px.png" alt="logo-green">
                        <h3>Devign</h3>
                        <p>{{data.description}}</p>
                        <div class="button">
                            <a href="/private/projects/random/create/{{data._id}}" class="btn btn-green">Save</a>
                       <a href="/random" class="btn btn-purple">Again</a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>