<section>

    <h1>RANDOM CARD</h1>

<div>
    
    <p>{{data.description}}</p>
    
</div>

<div>
<a href="/random" class="btn btn-warning">Again</a>
<a href="/private/projects/random/create/{{data._id}}" class="btn btn-success">Save</a>
</div>
</section>
