<section>

    <h1>RANDOM CARD</h1>

<div>
    {{#each data}}
    <p>{{this.description}}</p>
    {{/each}}
</div>

<div>
<a href="/random" class="btn btn-warning">Again</a>
<button href="/private/projects/random/create" class="btn btn-success">Save</button>
</div>

</section>
