<section class="bg-purple">
    <div class="cardwrap">
        <h1>RANDOM CARD</h1>
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
                <div class="front">
                    <!-- front content -->
                    <article class="card-form">
                        <img src="/images/navbaricon.png" alt="logo-green">
                    </article>
                </div>
                <div class="back">
                    <!-- back content -->
                    <article class="card-form">
                        <img src="/images/logo-devign-green-300px.png" alt="logo-green">
                        <h3>Devign</h3>
                        <p>{{data.description}}</p>
                        <div class="button">
                            <a href="/random" id="again">Again</a>
                            <a href="/private/projects/random/create/{{data._id}}" id="save">Save</a>
                        </div>
                    </article>
                </div>
            </div>
        </div>

    </div>
</section>

{{!--<section class="bg-gradient">
    <div class="pagewrap flip-vertical-fwd">
        <form class="form" id="form" action="/auth/login" method="POST">
            <h3 class="form__title">Login</h3>
            <div class="container">
                <input class="container__input" type="text" id="username" name="username" required>
                <label id="userLabel" for="username" class="container__label">Username</label>
            </div>
            <div class="container">
                <input class="container__input" type="password" id="pass" name="password" required>
                <label id="passLabel" for="pass" class="container__label">Password</label>
            </div>
            <button class="form__submit" id="submit" type="submit" >Login</button>
            <br>
            <p>Not registered yet? <a href="/auth/signup">Signup!</a></p>
        </form>
    </div>
</section>--}}