<section>

    <h1>RANDOM CARD</h1>

<div>

    <img src="" class="" alt="Imagen carta importada">
    <!-- Información de la carta importada -->

</div>

<div>
<a href="#">Again</a>
<button type="submit">Save</button>
</div>

</section>
