<section>

<h1>Profile</h1>

<img src="" class="" alt="Imagen del usuario">
<!--Usar multer para que el usario pueda subir una imagen suya-->

<h2>
    My projects
</h2>

<div>
    <!--Información de la base de datos-->
</div>

<div>
    <!--Información de la base de datos-->
</div>


<h2>
    My cards
</h2>

</section>