<section>

<h1>Profile</h1>

<img src="" class="" alt="Imagen del usuario">
<!--Usar multer para que el usario pueda subir una imagen suya-->

<h2>
    My Projects
</h2>

<div>
    <!--Información de la base de datos-->
    <a href="/project/edit">Edit</a>
    <a href="/project/delete">Delete</a>
    <a href="../random.hbs">Create</a>
</div>

<h2>
    My Cards
</h2>
<div>
    <!--Información de la base de datos-->
    <a href="/card/edit">Edit</a>
    <a href="/card/delete">Delete</a>
    <a href="/card/create">Create</a>
</div>

</section>