/* COLORS */
/* Pure Colors: purple:#662D91, blue:#0074BA, green#00A99D */
/* Lighter Colors: purple:#aca8e5, blue:#71c1da, green#74ebd5 */
/* Black:#333333 */

* {
  margin: 0;
  padding: 0;
}

breakpoint {
  max-width: 100%;
  display: inline-block;
}

/* 2 columnas para tablets */
@media (min-width: 420px) {
  breakpoint {
    max-width: 48%;

  }
}

/* 4 columnas para grandes dispositivos*/
@media (min-width: 760px) {
  breakpoint {
    max-width: 24%;
  }
}

body {
  font-family: 'Quicksand', sans-serif;
}

.navbar {
  background: linear-gradient(to left, #662D91, #00A99D);
}

.navbar a {
  text-decoration: none;
  color: white;
}
header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(to left, #662D91, #00A99D);
  color: #ccc;
}

.logo {
  letter-spacing: 3px;
}

.nav {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.navlink {
  list-style: none;
  margin: 0;
}

.navlink a {
  color: #ccc;
  text-decoration: none;
  font-size: 1.2em;
}

.burger {
  font-size: 1.2em;
  display: none;
}

@media screen and (max-width: 678px) {
  .burger {
      display: block;
  }
  .nav {
      margin: 0;
      background: linear-gradient(to left, #662D91, #00A99D);
      position: absolute;
      right: -100%;
      top: 70px;
      width: 50%;
      height: calc(100% - 70px);
      flex-direction: column;
      justify-content: space-around;
      padding: 0;
      transition: all 400ms;
  }
  .navlink {
      text-align: center;
  }

  .nav-active {
      right: 0;
  }
}

.icono_perfil {
width: 35px;
}

.second_h2_article div {
  display: inline-block;
}

.welcome {
  font-size: 24px;
  font-family: 'Source Code Pro', monospace;
  color: white;
}

.bobble:hover {
  -webkit-animation: wobble-hor-bottom 1s infinite both;
  animation: wobble-hor-bottom 1s infinite both;
}

@-webkit-keyframes wobble-hor-bottom {

  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }

  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }

  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }

  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }

  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

@keyframes wobble-hor-bottom {

  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }

  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }

  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }

  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }

  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}


#icon_navbar_animation:hover {
  -webkit-animation: pulsate-bck 1s ease-in-out infinite both;
  animation: pulsate-bck 1s ease-in-out infinite both;
}

@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}


.shake:hover {
  -webkit-animation: vibrate-1 0.3s linear infinite both;
  animation: vibrate-1 0.3s linear infinite both;
}

@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }

  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }

  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}


.position {
  text-align: center;
  margin-top: 70px;
}

.index_logo {
  width: 170px;
  margin-bottom: 70px;
  padding-top: 50px;
}

.private_image {
  padding-top: 20px;
  padding-left: 20px;
}

.info_perfil {
  padding-top: 20px;
  padding-left: 20px;
}

.icon_navbar {
  height: 50px;
  margin-left: 20px;
}

.position_navbar {
  word-spacing: 50px;
}

.background_first_section {
  background-image: url("/images/devign-fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.first_article {
  text-align: center;
  margin-bottom: 60px;
  padding-bottom: 80px;
}

.first_h2_article {
  font-size: 60px;
  margin-bottom: 40px;
  padding-top: 400px;
  font-weight: 500;
  color: white;
}

.second_h2_article {
  font-size: 40px;
  font-weight: 500;
  color: white;
}

.e_ {
  color: #00A99D;

}

.a {
  color: #0074BA;
}

.s {
  color: #662D91;
}

.i {
  color: #00A99D;
}

.e {
  color: #0074BA;
}

.r {
  color: #662D91;
}

.dorso_carta {
  margin-left: 20px;
  margin-right: 20px;
  width: 18vw;
}

.second_section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.second_section_h4 {
  line-height: 40px;
  font-size: 20px;
  margin-top: 60px;
  margin-left: 20px;
  text-align: left;
}

.try_botton {
  background: linear-gradient(to left, #662D91, #0074BA, #00A99D);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 120px;
  padding-right: 120px;
  text-decoration: none;
  color: white;
  border-radius: 20px;
}

.third_section {
  text-align: center;
  margin-bottom: 40px;
}

.third_section h1 {
  font-weight: 900;
  font-size: 80px;
}

.foto_perfil_div {
  margin-bottom: 100px;
}

.foto_perfil_div h3 {
  margin-top: 40px;
}

.foto_perfil_amalia {
  margin-top: 70px;
  width: 200px;
  border: 4px outset #00A99D;
  border-radius: 20px;
}

.foto_perfil_julian {
  margin-top: 70px;
  width: 200px;
  border: 4px outset #0074BA;
  border-radius: 20px;
}

.foto_perfil_paula {
  margin-top: 70px;
  width: 200px;
  border: 4px outset #662D91;
  border-radius: 20px;
}

.posicion_foto_perfil {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.glasses_amalia {
  width: 58px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: linear-gradient(#662D91, #0074BA, #00A99D);
  border-radius: 100%;
  padding: 10px;
}

.gamepad_julian {
  width: 58px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: linear-gradient(#662D91, #0074BA, #00A99D);
  border-radius: 100%;
  padding: 10px;
}

.palette_paula {
  width: 58px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: linear-gradient(#662D91, #0074BA, #00A99D);
  border-radius: 100%;
  padding: 10px;
}

.login_buttons {
  font-size: 20px;
  background: darkred;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 120px;
  padding-right: 120px;
  border-radius: 20px;
}

.signup_buttons {
  font-size: 20px;
  background: darkgoldenrod;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 120px;
  padding-right: 120px;
  border-radius: 20px;
}

.ironhack_logo {
  width: 8vw;
}


footer {
  background: #333333;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.contact_info {
  font-size: 18px;
  letter-spacing: 7px;
}

.details_info {
  font-size: 13px;
  letter-spacing: 5px;
}




/*Menu toggle button*/
#menu-btn {
  position: relative;
  left: 1em;
  top: 1em;
  width: 3em;
  padding: 1.5em;
  border-radius: 100%;
  transition: all .2s ease-out;
}

/*Cursor on toggle button hover*/
#menu-btn:hover {
  cursor: pointer;
}

/*Changing color of hamburger lines on hover*/
#menu-btn:hover .menu-line {
  background-color: #999999;
}

#menu-btn:active {
  box-shadow: 0 0 5px black;
  background-color: #524a88;
}

/*Styles for the hamburger lines*/
.menu-btn-line {
  height: .5em;
  background-color: #00FFCA;
  margin-bottom: .5em;
}

/*No margin-bottom for last hamburger line.*/
.menu-btn-line:last-child {
  margin-bottom: 0;
}

/*List container*/
#menu {
  position: relative;
  top: 7em;
  left: 1em;
  border: .5em solid #00FFCA;
  width: 10em;
  padding: 1em;
}

/*List*/
#menu ul {
  padding: 0;
  margin: 0;
}

/*List items*/
#menu ul li {
  list-style-type: none;
  left: 0;
  padding: .5em;
  color: #00FFCA;
  transition: all .3s ease-out;
}

/*Subscribe link*/
#menu ul li:last-child {
  margin-top: .5em;
  padding-top: 1em;
  border-top: 1px solid #00FFCA;
}

/*Cursor and text undelrine on hover*/
#menu ul li:hover {
  cursor: pointer;
  text-decoration: underline;
}

/*Background and text colour change on click*/
#menu ul li:active {
  background-color: #00FFCA;
  color: rgba(52, 73, 94, 1.0);
}