/* COLORS */
/* Pure Colors: purple:#662D91, blue:#0074BA, green#00A99D */
/* Lighter Colors: purple:#aca8e5, blue:#71c1da, green#74ebd5 */
/* Black:#333333 */

.contenedor {
    margin: 0;
    padding: 0;
}

.contenedor {
    justify-content: center;
    padding-bottom: 40px;
}

.btn-project {
    width: 360px;
}

.div-title {
    text-align: center;
    padding-bottom: 20px;
}

div.img-user {
    /* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 100px;
    width: 100px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}
/* .position_form {
    margin-bottom: 30px;
}

#input_form_image {
    display:none;
}

#input_form_save {
    background: linear-gradient(to left, #662D91, #00A99D);
    margin-left: 25px;
    padding: 10px 20px;
    border-radius: 20%;
} */

.projects {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #662D91;
    height: 80px;
    border-radius: 10px;
}

.projects-list {
    padding: 10px 20px;
    /* padding-left: 20px; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-list {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-list > img {
    width: 40%;
    padding: 10% 0%;
}

.cards {
    height: 300px;
    width: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #00A99D;
    margin: 10px;
}

.card-box {
    /* padding-left: 20px; */
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
}

.card-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cards button {
    justify-items: flex-end;
}

.el-papi {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width: 760px) {
  .card-box {
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  .btn-project {
    padding: 10px 20px;
  }
  
}