/* COLORS */
/* Pure Colors: purple:#662D91, blue:#0074BA, green#00A99D */
/* Lighter Colors: purple:#aca8e5, blue:#71c1da, green#74ebd5 */
/* Black:#333333 */

.container {
    margin: 0;
    padding: 0;
}

.btn-project {
    width: 360px;
}

.position_form {
    margin-bottom: 30px;
}

.trying {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.img-user {
    width: 250px;
    margin-top: 30px;
    border-radius: 25%;
    border: 1px solid black;
}

.username {
    padding-top:
}

.div-name {
    text-align: start;
  
}

.div-title {
    text-align: start;
    padding: 20px;
}



#input_form_image {
    display:none;
}

#input_form_save {
    background: linear-gradient(to left, #662D91, #00A99D);
    margin-left: 25px;
    padding: 10px 20px;
    border-radius: 20%;
}

.projects {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #662D91;
    height: 80px;
    border-radius: 10px;
}

.projects-list {
    padding: 10px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cards {
    height: 300px;
    width: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    background-color: #00A99D;
}

.cards button {
    justify-items: flex-end;
}

.btn-new-card {
    height: 300px;
    width: 200px;
    border-radius: 5%;
    color: white;
    background-color: #00A99D;
}