/* COLORS */
/* Pure Colors: purple:#662D91, blue:#0074BA, green#00A99D */
/* Lighter Colors: purple:#aca8e5, blue:#71c1da, green#74ebd5 */
/* Black:#333333 */

.container {
    text-align: center;
}

.position_form {
    margin-bottom: 30px;
}

.trying {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.img-user {
    width: 250px;
    margin-top: 30px;
    border-radius: 25%;
    border: 1px solid black;
}

.username {
    padding-top: 30px;
}

.div-name {
    text-align: start;
    padding: 20px;
}

.div-title {
    text-align: start;
    padding-top: 60px;
}

.inline-block {
    display: inline-block;
}

#input_form_image {
    display:none;
}

#input_form_save {
    background: linear-gradient(to left, #662D91, #00A99D);
    margin-left: 25px;
    padding: 10px 20px;
    border-radius: 20%;
}

.projects {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 20px;
    color: white;
    background-color: #662D91;
}

.cards {
    height: 300px;
    width: 200px;
    border-radius: 5%;
    padding: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    background-color: #00A99D;
}

.btn-new-project {
    margin: 10px;
    padding: 20px;
    color: white;
    background-color: #662D91;
}

.btn-new-card {
    height: 300px;
    width: 200px;
    border-radius: 5%;
    margin-bottom: 15px;
    color: white;
    background-color: #00A99D;
}