<section>
    <h1>
<!--Nombre del proyecto-->
    </h1>

    <div>
        <form action="" method="POST">
        <input type="text" class="" name="projectname">

    <!--Carta traida por :id-->
    <h2>
        Description
    </h2>
    <input type="textarea" class="">

    <button type="submit">Save</button>
     </form>
<a href="" class="">Again!</a> <!--Redirige a Random-->

</div>
</section>