<section>

    <h2>Creating a new project</h2>

    <article>
        <div>
            <p>Message Card: {{_id.message}}</p>
        </div>
<!--¿La ruta que tiene el action tiene que ser la misma que el router.post?
Habiendo hecho un app.use que es /private/projects-->
        <form action="/private/projects/create" method="post">
            <input name="title" type="text" placeholder="My project title" required>
            <input name="description" type="textarea" placeholder="Write here your first ideas" required>
            <a href="/private/user" type="submit" class="btn btn-success">Save</a>
            <a href="/random" class="btn btn-warning">Try again</a>
        </form>
    </article>

</section>
